html,
body {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  overflow-x: hidden;
}

.mb-3 {
  margin-left: 1vw;
  width: 20vw;
}

#react-box {
  width: 25vw;
}

.btn.btn-primary{
  width: 50%;
}

h1 {
  display: flex;
  justify-content: center;
}